
<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/admin/users">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Users</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/categories">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title" >Categories</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bookDetails.html">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title" >Books</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/comments.html">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title" >Comments</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/report.html">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title" >Reports</span>
            </a>
          </li>
          
        </ul>
      </nav>
