
<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/admin/users">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Users</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/categories.html">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title" >Categories</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bookDetails.html">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title" >Books</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/comments.html">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title" >Comments</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/report.html">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title" >Reports</span>
            </a>
          </li>
          <li class="nav-item nav-category">UI Elements</li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="menu-icon mdi mdi-floor-plan"></i>
              <span class="menu-title">UI Elements</span>
              <i class="menu-arrow"></i> 
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/buttons.html">Buttons</a></li>
                <li class="nav-item"> <a class="nav-link" href="/typography.html">Typography</a></li>
                <li class="nav-item"><a class="nav-link" href="dropdowns.html">Dropdown</a></li>
              </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
              <i class="menu-icon mdi mdi-chart-line"></i>
              <span class="menu-title">Charts</span>
              <i class="menu-arrow"></i> 
            </a>
            <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/chartjs.html">ChartJs</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
