{% extends "layouts/base.html" %}

{% block title %} Basic Table {% endblock %} 

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}{% endblock css_plugins %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %} 
 
<div class="row">
 <h1>BOOK NAME</h1>
 <p>cover image</p>
</div>

  <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/card.css">
  <div class="container">
  <div class="row-height">
    <div class="row">
      <div class="col-height col-middle col-xs-5 pull-left card">
        <div class="col-xs-12 text-center">
          <h3 class="heading-s1">AUTHOR</h3>
        </div>
        <div class="col-xs-12 text-center">
          <a href="javascript:void(0);" class="btn big-btn no-border red-background unstyle-anchor" style="padding: 13px 50px;">author</a>
        </div>
      </div>
      <div class="col-height col-middle col-xs-5 pull-right card">
        <div class="col-xs-12 text-center">
          <h3 class="heading-s1">CATEGORY</h3>
        </div>
        <div class="col-xs-12 text-center">
          <a href="javascript:void(0);" class="btn big-btn no-border red-background unstyle-anchor" style="padding: 13px 50px;">category</a>
        </div>
      </div>
      <div class="col-height col-middle col-xs-5 pull-right card">
        <div class="col-xs-12 text-center">
          <h3 class="heading-s1">CHAPTERS</h3>
        </div>
        <div class="col-xs-12 text-center">
          <a href="javascript:void(0);" class="btn big-btn no-border red-background unstyle-anchor" style="padding: 13px 50px;">total chapters</a>
        </div>
      </div>
      <div class="col-height col-middle col-xs-5 pull-right card">
        <div class="col-xs-12 text-center">
          <h3 class="heading-s1">STATUS</h3>
        </div>
        <div class="col-xs-12 text-center">
          <a href="javascript:void(0);" class="btn big-btn no-border red-background unstyle-anchor" style="padding: 13px 50px;">status</a>
        </div>
      </div>
      <div class="col-height col-middle col-xs-5 pull-right card">
        <div class="col-xs-12 text-center">
          <h3 class="heading-s1">DESCRIPTION</h3>
        </div>
        <div class="col-xs-12 text-center">
          <a href="javascript:void(0);" class="btn big-btn no-border red-background unstyle-anchor" style="padding: 13px 50px;">description</a>
        </div>
      </div>
      <div class="col-height col-middle col-xs-5 pull-right card">
        <div class="col-xs-12 text-center">
          <h3 class="heading-s1">CREATED ON</h3>
        </div>
        <div class="col-xs-12 text-center">
          <a href="javascript:void(0);" class="btn big-btn no-border red-background unstyle-anchor" style="padding: 13px 50px;">date</a>
        </div>
      </div>
      <div class="col-height col-middle col-xs-5 pull-right card">
        <div class="col-xs-12 text-center">
          <h3 class="heading-s1">VIEWS</h3>
        </div>
        <div class="col-xs-12 text-center">
          <a href="javascript:void(0);" class="btn big-btn no-border red-background unstyle-anchor" style="padding: 13px 50px;">total views</a>
        </div>
      </div>
    </div>
  </div>
</div>

  

{% endblock content %}

<!-- Specific JS Plugins goes HERE  -->
{% block js_plugins %}

  <script src="{{ config.ASSETS_ROOT }}/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

{% endblock js_plugins %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
