{% extends "layouts/base.html" %}

{% block title %} Basic Table {% endblock %} 

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}{% endblock css_plugins %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/bookview.css">
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/chapter.css">
{% endblock stylesheets %}

{% block content %} 

<div class="container">
    <div class="team-single">
        <div class="row">
            <div class="col-lg-4 col-md-5 xs-margin-30px-bottom">
                <div class="team-single-img">
                    <img src="{{book.cover}}" alt="">
                </div>
            </div>

            <div class="col-lg-8 col-md-7">
                <div class="team-single-text padding-50px-left sm-no-padding-left">
                    <h3 class="font-size38 sm-font-size32 xs-font-size30">{{book.title}}</h3>
                    <h4 class="font-size26 sm-font-size24 xs-font-size22">Category : {{category_name}}</h4>
                    <p class="no-margin-bottom">{{book.description}}</p>
                    <div class="container bootdey">
                    <div class="panel panel-default panel-order">
                        <div class="panel-heading">
                        <h4><strong>CHAPTERS</strong></h4>
                        </div>

                        <div class="panel-body">
                            {% for chapter in chapters %}
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span><strong>Chapter Name :</strong></span><span class="label label-info">{{chapter.title}}</span><br />
                                            <a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-ok" href="#">Likes {{chapter.total_likes}}</a>
                                            <a data-placement="top" class="btn btn-danger btn-xs glyphicon glyphicon-trash" href="/admin/chapterComments/{{chapter.id}}">Comments {{chapter.total_comments}}</a>
                                            <a data-placement="pull-left" class="btn btn-success btn-xs glyphicon-usd" href="/admin/chapters/{{chapter.id}}" title="View"><i class=""></i>view</a>
                                            <a data-placement="pull-left" class="btn btn-info btn-xs glyphicon glyphicon-trash" href="/chapter/{{chapter.id}}/action/delete" title="Delete"><i class="">delete</i></a>
                                        </div>
                                        <div class="col-md-12">chapter created on: 05/31/2014</div>
                                    </div>
                                </div>
                            </div>
                            
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

  

{% endblock content %}

<!-- Specific JS Plugins goes HERE  -->
{% block js_plugins %}

  <script src="{{ config.ASSETS_ROOT }}/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

{% endblock js_plugins %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
