{% extends "layouts/base.html" %}

{% block title %} Basic Table {% endblock %} 

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}{% endblock css_plugins %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %} 

<!-- CATEGORIES  -->
<div class="row">
    <div class="col-lg-8 d-flex flex-column">
      
      
      <div class="row flex-grow">
        <div class="col-12 grid-margin stretch-card">
          <div class="card card-rounded">
            <div class="card-body">
              <div class="d-sm-flex justify-content-between align-items-start">
                <div>
                  <h4 class="card-title card-title-dash">Book Categories</h4>
                </div>
                <div>
                  <!-- <button class="btn btn-primary btn-lg text-white mb-0 me-0" type="button"><i class="mdi mdi-account-plus"></i>Add new member</button> -->
                </div>
              </div>
              <div class="table-responsive  mt-1">
                <table class="table select-table">
                  <thead>
                    <tr>
                      <th>
                        <div class="form-check form-check-flat mt-0">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i></label>
                        </div>
                      </th>
                      <th>#</th>
                      <th>Category name</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for category in categories %}
                    <tr>
                      <td>
                        <div class="form-check form-check-flat mt-0">
                          <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i></label>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex ">
                          
                          <div>
                            <h6>{{category.id}}</h6>
                            <p>ID</p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <h6>{{category.name}}</h6>
                        <p>tag</p>
                      </td>
                      <td>
                        <a href="" class="btn btn-primary btn-sm">Edit</a>
                        <a href="" class="btn btn-danger btn-sm">Delete</a>
                      </td>
                      </tr>
                   {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
        
    </div>
    
  </div>

  

{% endblock content %}

<!-- Specific JS Plugins goes HERE  -->
{% block js_plugins %}

  <script src="{{ config.ASSETS_ROOT }}/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

{% endblock js_plugins %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
