{% extends "layouts/base.html" %}

{% block title %} Basic Table {% endblock %} 

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}{% endblock css_plugins %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/profile.css">
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/book.css">
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/follower.css">
{% endblock stylesheets %}

{% block content %} 

<div class="content-wrapper">
  <div class="row">
    <div class="col-sm-12">
      <div class="home-tab">
        <div class="d-sm-flex align-items-center justify-content-between border-bottom">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active " id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">User Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="books-tab" data-bs-toggle="tab" href="#book" role="tab" aria-controls="book" >Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="follower-tab" data-bs-toggle="tab" href="#follower" role="tab" aria-controls="follower">Followers</a>
            </li>
          </ul>
        </div>  
        <div class="tab-content tab-content-basic">
          <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile"> 
            
            <div class="row">
              <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0">
                  <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                    <div class="row align-items-center">
                      <div class="col-lg-6 mb-4 mb-lg-0">
                        <img src="{{profile.profile_pic}}" alt="...">
                      </div>
                      <div class="col-lg-6 px-xl-10">
                        <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                          <h3 class="h2 text-white mb-0">{{user.username}}</h3>
                        </div>
                        <ul class="list-unstyled mb-1-9">
                          <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">First Name:</span> {{profile.first_name}}</li>
                          <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Last Name:</span> {{profile.last_name}}</li>
                          <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email Id:</span>{{user.email}}</li>
                          <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Number of Books Written:</span> {{profile.book_written}}</li>
                          <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Number of Followers:</span>{{profile.followers}}</li>
                          <li class="display-28"><span class="display-26 text-secondary me-2 font-weight-600">Phone:</span> {{profile.phone}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>

          <div class="tab-pane fade " id="book" role="tabpanel" aria-labelledby="book"> 
            <div class="container">
              <div class="row">
                {% for book in books %}
              
                  <div class="col-lg-3 col-md-6">
                    <div class="team-box text-center bg-white mt-4">
                      <div class="team-img">
                        <img src="{{book.cover}}" alt="" class="img-fluid d-block rounded">
                        <div class="team-name">
                          <h5 class="text-white f-18 font-weight-light mb-0">{{book.title}}</h5>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center">
                        <a href= "/admin/book/{{book.id}}"><button class="btn btn-primary btn-lg text-white mb-0 me-0" type="button"><i class="mdi-menu"></i>View</button></a>
                      </div>
                    </div>
                  
                </div>  
                {% endfor %}  
              </div>
            </div>
          </div>

          <div class="tab-pane fade " id="follower" role="tabpanel" aria-labelledby="follower"> 
            {% for follower in followers %}
            <section id="team" class="team_area section-padding">
              <div class="container">								
                <div class="row text-center">
                  <div class="col-lg-2 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="our-team">
                      <div class="single-team">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid" alt="">
                        <h3>{{follower.follower_id}}</h3>
                      </div>						
                    </div><!--- END OUR TEAM -->	
                  </div><!--- END COL -->	
                </div><!--- END ROW -->			
              </div><!--- END CONTAINER -->
            </section>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock content %}

<!-- Specific JS Plugins goes HERE  -->
{% block js_plugins %}

<script src="{{ config.ASSETS_ROOT }}/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

{% endblock js_plugins %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
