{% extends "layouts/base.html" %}

{% block title %} Basic Table {% endblock %} 

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}{% endblock css_plugins %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %} 
 
<div class="row">
 <h1>USER NAME</h1>
 <img src="{{ config.ASSETS_ROOT }}/images/profile.jpg" alt="user" class="img-fluid" style="width: 100px; height: 100px; border-radius: 50%; margin-left: 20px;">
</div>

  <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/card.css">
  <div class="container" >
  <div class="row-height">
    <div class="row " >
      <div class="col-md-5 card">
        <div class="col-xs-12 text-center">
          <h3 class="heading-s1">PROFILE</h3>
        </div>
        <div class="col-xs-12 text-center">
          <a href="javascript:void(0);" class="btn big-btn no-border red-background unstyle-anchor" style="padding: 13px 50px;">profile!</a>
        </div>
      </div>
      <div class="col-md-5 card">
        <div class="col-xs-12 text-center">
          <h3 class="heading-s1">READING LIST</h3>
        </div>
        <div class="col-xs-12 text-center">
          <a href="javascript:void(0);" class="btn big-btn no-border red-background unstyle-anchor" style="padding: 13px 50px;">Reading List!</a>
        </div>
      </div>
      <div class=" col-md-5 card">
        <div class="col-xs-12 text-center">
          <h3 class="heading-s1">BOOKS</h3>
        </div>
        <div class="col-xs-12 text-center">
          <a href="javascript:void(0);" class="btn big-btn no-border red-background unstyle-anchor" style="padding: 13px 50px;">Books</a>
        </div>
      </div>
      <div class=" col-md-5  card">
        <div class="col-xs-12 text-center">
          <h3 class="heading-s1">COMMENTS</h3>
        </div>
        <div class="col-xs-12 text-center">
          <a href="javascript:void(0);" class="btn big-btn no-border red-background unstyle-anchor" style="padding: 13px 50px;">Comments</a>
        </div>
      </div>
      <div class=" col-md-5  card">
        <div class="col-xs-12 text-center">
          <h3 class="heading-s1">FOLLOWERS</h3>
        </div>
        <div class="col-xs-12 text-center">
          <a href="javascript:void(0);" class="btn big-btn no-border red-background unstyle-anchor" style="padding: 13px 50px;">Followers</a>
        </div>
      </div>
      <div class=" col-md-5  card">
        <div class="col-xs-12 text-center">
          <h3 class="heading-s1">REPORTS</h3>
        </div>
        <div class="col-xs-12 text-center">
          <a href="javascript:void(0);" class="btn big-btn no-border red-background unstyle-anchor" style="padding: 13px 50px;">Reports</a>
        </div>
      </div>
      <div class=" col-md-5  card">
        <div class="col-xs-12 text-center">
          <h3 class="heading-s1">SUBSCRIPTION</h3>
        </div>
        <div class="col-xs-12 text-center">
          <a href="javascript:void(0);" class="btn big-btn no-border red-background unstyle-anchor" style="padding: 13px 50px;">Subscription</a>
        </div>
      </div>
    </div>
  </div>
</div>

  

{% endblock content %}

<!-- Specific JS Plugins goes HERE  -->
{% block js_plugins %}

  <script src="{{ config.ASSETS_ROOT }}/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

{% endblock js_plugins %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
